<h4 class="has-text-centered">Anja</h4>
<h1 class=" py-6 title is-1 has-text-centered has-text-primary-dark has-background-success-light">In Gedenken an meinen
    Kater Findus
</h1>
<div class="tile is-ancestor  is-vertical">
    <!--    Große Box-->
    <div class="tile is-parent">
        <!--    Große Box Herkunft-->
        <div class="tile box is-child has-background-primary-light">
            <h2 class="subtitle is-3 has-text-primary-dark">Herkunft</h2>
            <div class="columns is-gapless is-multiline is-desktop has-text-primary-dark">
                <div class="column">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image">
                                <img alt="Detektiv mit Lupe" src="images/detectiv.png">
                            </figure>
                        </div>
                    </div>

                </div>
                <div class="column mx-5">
                    <p>
                        Findus ist ein Findelkind. Dadurch ist seine Herkunft unbekannt. Es wird vermutet, dass er von
                        einer Familie als kleines Baby ausgesetzt wurde. Er hat als Kleinkind auf jedenfall schlechte
                        Erfahrungen mit einem Auto gesammelt. Es wird vermutet, dass er angefahren wurde und eine
                        Kopfverletzung davon trug. Sein Leben lang hatte er deswegen Angst vor Autos.

                    </p>
                </div>
            </div>
        </div>

        <!--    Große Box Aussehen-->
        <div class="tile box is-child has-background-primary">
            <h2 class="subtitle is-3 has-text-primary-light">Aussehen</h2>
            <div class="columns is-multiline is-desktop has-text-primary-light">
                <div class="column">
                    <!--                    <div class="card is center" style="width: 100%; max-width: 500px;">-->
                    <div class="card">
                        <div class="card-image">
                            <figure class="image">
                                <img alt="Anja mit Findus auf dem Schoß" src="images/Findus.JPG">
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <p>
                        Sobald Findus draußen in der Natur war hat sich sein
                        Charakter komplett verändert. Aus der Schmusekatze wurde
                        Eine wilde Katze. Nur Personen mit sehr enger Bindung durften
                        - Falls er gerade Lust und Laune hatte -
                        Ihn streicheln. Hochheben war jedoch nicht erlaubt!

                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="tile is-ancestor box is-vertical has-background-success-light">
    <!--    Hauptüberschrift-->
    <div class="tile is-parent">
        <h2 class="subtitle is-3 has-text-primary-dark">Charakter</h2>
    </div>
    <!--    Große Box-->
    <div class="tile is-parent">
        <!--    Große Box Schmusekatze-->
        <div class="tile box is-child has-background-primary">
            <p class="subtitle is-4 has-text-primary-light">Daheim: Schmusekatze</p>
            <div class="columns is-multiline is-desktop has-text-primary-light">
                <div class="column">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image">
                                <img alt="Kuschelkatze" src="images/kuschelKatze.jpg">
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <p>Im Haus ist Findus die größte Schmusekatze der Welt gewesen. Er hat es geliebt gebürstet,
                        gestreichelt und verwöhnt zu werden
                    </p>
                </div>
            </div>
        </div>

        <!--    Große Box Wildkatze-->
        <div class="tile box is-child has-background-primary-light has-text-primary-dark">
            <p class="subtitle is-4 has-text-primary-dark">In freier Wildbahn: Wildkatze</p>
            <div class="columns is-multiline is-desktop">
                <div class="column">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image">
                                <img alt="Kleines Mädchen umarmt Löwe" src="images/Loewe.jpg">
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <p>
                        Sobald Findus draußen in der Natur war hat sich sein
                        Charakter komplett verändert. Aus der Schmusekatze wurde
                        eine wilde Katze. Nur Personen mit sehr enger Bindung durften
                        - Falls er gerade Lust und Laune hatte -
                        ihn streicheln. Hochheben war jedoch nicht erlaubt!

                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Kurzgeschichten-->
<div class="tile is-ancestor box is-vertical">
    <div class=" px-3 tile is-parent">
        <h2 class="subtitle is-3 has-text-primary-dark">Kurzgeschichten</h2>
    </div>
    <div class="tile is-parent">
        <div class="tile">
            <div class="tile is-parent has-text-primary-light is-vertical has-background-primary-dark">
                <article class="tile is-child notification has-background-primary-dark">
                    <h2 class="title">Brüderchen und Kater</h2>
                    <p class="subtitle">Bevor Findus Teil der Familie wurde war Anjas kleiner Bruder ihr ein und alles
                        und der Mittelpunkt der Welt. Als Findus in die Familie aufgenommen wurde änderte das nichts an
                        der Liebe zu ihrem kleinen Bruder jedoch schließ sie Findus auch direkt in ihr großes Herz ein.
                        Ihr kleiner Bruder der davor die volle Aufmerksamkeit genossen hat, mochte am Anfang dieses
                        fremde Tier nicht. Das führte zu witzigen Situationen:</p>
                </article>

                <div class="tile is-parent is-vertical">

                    <article class="tile is-child notification has-background-primary-light has-text-primary-dark">
                        <h3 class="title">Eiszeit</h3>
                        <p class="subtitle">Als Findus bei uns ankam war es Winter. Draußen auf der Terasse erkundete
                            Findus den Schnee, während Anja und ihr Bruder auch dort spielten. Irgendwann nahm der
                            kleine Simon zwei Eiszapfen, hebte diese links und rechts an Findus seinen Schwanz und rief:
                            "Ich friere Findus ein"
                        </p>
                    </article>

                    <article class="tile is-child notification has-background-primary has-text-primary-light">
                        <h3 class="title">"Findus Mülleimer"</h3>
                        <p class="subtitle"> In der ersten Woche nahm der kleine Simon Findus in den Arm trug ihn zum
                            Papierkorb und legte ihn dort ab. Danach rannte Simon durch die ganze Wohnung und rief:
                            "Findus Mülleimer! Findus Mülleimer!" Findus lies sich das nicht gefallen und sprang einfach
                            wieder aus dem Papierkorb heraus, dabei viel dieser um und es herrschte eine riesen
                            Sauerei. </p>
                    </article>

                    <article class="tile is-child notification has-background-primary-light has-text-primary-dark">
                        <h3 class="title">Katzenliebhaber</h3>
                        <p class="subtitle"> Es dauerte nicht sehr lange und Findus wickelte auch den Kleinsten unserer
                            Familie um den Finger. Heutzutage möchte mein Bruder irgendwann auch eine Katze als Haustier
                            haben.</p>
                    </article>
                </div>


            </div>
            <div class="tile is-parent is-vertical ">
                <article class="tile is-child notification has-background-primary has-text-primary-light">
                    <h3 class="title">Happy Birthday</h3>
                    <p class="subtitle">Jedes Jahr am Geburtstag von Anja legte Findus eine tote Maus vor der
                        Terassentür ab. Jedes Jahr am Geburtstag ihrer Mutter legte Findus eine tote Amsel vor der
                        Terassentür ab. Nur Anjas Vater und Brüder bekamen leider jedes Jahr aufs neue kein Geschenk von
                        Findus.
                    </p>
                </article>
                <article class="tile is-child notification has-background-primary-light has-text-primary-dark">
                    <h3 class="title">RIP Findus</h3>
                    <p class="subtitle">Als Findus verstarb war Anja aktuell in der Prüfungsphase. Da ihre Familie
                        wusste wie sehr sie ihren Kater liebt, einigten sie sich Anja die Traurige Nachricht vorerst
                        nicht mitzuteilen. Sie achteten extra darauf die Essensnäpfe und andere Spielsachen
                        nicht wegzuräumen damit es den Anschein hatte Findus geht es gut. An dem einen Wochenende an dem
                        Anja zu Besuch war viel ihr somit nichts auf, da Findus auch im hohen Alter öfters mal für
                        mehrere Tage auf Streifzug war. Als nun die Prüfungsphase aus war und Anja einen längeren Besuch
                        bei ihren Eltern war machte sie sich langsam Sorgen warum ihr geliebter Kater nicht
                        heimkommt. Auf Nachfrage kam ein überraschtes: "Oh Anja! Haben deine Brüder dir inzwischen nicht
                        die schlechte Nachricht mitgeteilt?" </p>
                </article>
            </div>

        </div>
    </div>
</div>