<h4 class="has-text-centered">
    Elias
</h4>
<h6 class="title py-4 is-size-1 has-background-warning-light has-text-centered">Hallo!
    <i class="fa-solid fa-earth-americas fa-bounce" style=" --fa-bounce-start-scale-x: 1; --fa-bounce-start-scale-y: 0.5;
       --fa-bounce-jump-scale-x: 1; --fa-bounce-jump-scale-y: 0.5;
       --fa-bounce-land-scale-x: 1; --fa-bounce-land-scale-y: 1;"
       title="Icon von der Erde"></i>
</h6>

<div class="tile is-ancestor">
    <div class="tile is-vertical is-12">
        <div class="tile">
            <div class="tile is-parent is-vertical has-text-centered" style="padding: 5px">
                <article class="tile is-child notification has-background-light">
                    <p class="title">Speedy beim Schwimmen!</p><br>
                    <p class="subtitle">Hier seht ihr, wie schnell ich schwimmen kann!</p>
                    <p class="subtitle">Ich bin die schnellste Schildkröte der Welt!</p>
                    <video controls height="1080" style="border-radius: 20px;" title="Video von Schildkroete"
                           width="1920">
                        <source src="videos/Sea%20Turtle%20-%2019052.mp4" type="video/mp4">
                    </video>
                    <br>
                    <p>Das Video ist übrigens Lizenzfrei!</p>
                </article>
            </div>
            <div class="tile is-parent" style="padding: 5px">
                <article aria-label="Hintergrundbild von Schildkroete"
                         class="tile is-child notification is-light has-background-grey-lighter"
                         style="background-image: url('images/speedy.jpg'); background-size: 100% 100%">
                    <p class="title">Ich bin Speedy <i class="fa-solid fa-handshake-simple fa-beat"
                                                       style="--fa-beat-scale: 1.3;"
                                                       title="Icon von Handschütteln"></i></p>
                    <p class="subtitle">Ich war das Haustier von <span class="has-text-weight-bold">Elias</span></p>
                    <figure class="image is-4by3">

                    </figure>
                </article>
            </div>
        </div>
    </div>
</div>
<div class="tile is-ancestor">
    <div class="tile is-vertical is-12">
        <div class="tile">
            <div class="tile is-parent" style="padding: 5px">
                <article aria-label="Hintergrundbild von Schildkroete"
                         class="tile is-child notification is-light has-background-grey-lighter"
                         style="background-image: url('images/futter.jpg'); background-size: 100% 100%">
                    <p class="title">Wollt ihr wissen, was ich alles fressen kann? <i class="fa-solid fa-carrot fa-beat"
                                                                                      style="--fa-beat-scale: 1.3;"
                                                                                      title="Icon von Karotte"></i>
                    </p>
                    <p class="subtitle">Dann schaut euch die <span class="has-text-weight-bold">RECHTE</span> Seite an!
                    </p>
                    <figure class="image is-4by3">

                    </figure>
                </article>
            </div>
            <div class="tile is-parent is-vertical" style="padding: 5px">
                <article class="tile is-child notification has-background-light">
                    <div class="box" style="border-radius: 10px">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-64x64">
                                    <img alt="Profilbild von Schildkroete" src="images/Junior1.png">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <strong>Mr. Speedy</strong> <small>@speedyNumberOne </small> <small> 1h
                                        ago</small>
                                        <br>
                                        Ich bekomme langsam Hunger...warte...<br>
                                        Ohhhhh Rucola... yummy!!!
                                    </p>
                                </div>
                                <nav class="level is-mobile">
                                    <div class="level-left">
                                        <a aria-label="reply" class="level-item">
            <span class="icon is-small">
              <i aria-hidden="true" class="fas fa-reply"></i>
            </span>
                                        </a>
                                        <a aria-label="retweet" class="level-item">
            <span class="icon is-small">
              <i aria-hidden="true" class="fas fa-retweet"></i>
            </span>
                                        </a>
                                        <a aria-label="like" class="level-item">
            <span class="icon is-small">
              <i aria-hidden="true" class="fas fa-heart"></i>
            </span>
                                        </a>
                                    </div>
                                </nav>
                            </div>
                        </article>
                    </div>
                    <br>

                    <div class="card is-center is-inline-block" style="padding: 5px; border-radius: 10px">
                        <p><strong>Hier findet ihr meine Nahrungsliste:</strong></p><br>
                        <div class="tags is-center has-test-centered">
                            <span class="tag">Löwenzahn</span>
                            <span class="tag">Löwenzahnblüten</span>
                            <span class="tag">Breitwegerich</span>
                            <span class="tag">Spitzwegerich</span>
                            <span class="tag">wilde Malve</span>
                            <span class="tag">Disteln</span>
                            <span class="tag is-uppercase"><strong>Rucola</strong></span>
                            <span class="tag">Brennnessel</span>
                        </div>
                    </div>
                    <br>
                    <div class="card has-background-light" style="padding: 30px"><br>
                        <h4 class="title">Meine Wohnorte:</h4><br>
                        <p class="subtitle">Mit Ausnahme der Polargebiete und Hochgebirge besiedeln Schildkröten alle
                            Kontinente und Ozeane.
                            Sie kommen in verschiedenen Naturräumen vor, in tropischen Wäldern und Sümpfen, in Wüsten
                            und Halbwüsten, Seen, Tümpeln, Flüssen,
                            in Brackwassergebieten und in Meeren, in gemäßigten, tropischen und subtropischen
                            Klimazonen.

                            In Europa gibt es neben den Meeresschildkröten nur neun autochthone Arten, vier Land- und
                            fünf Wasserschildkrötenarten.
                            Deutschland, Österreich und die Schweiz beherbergen nur eine einzige einheimische
                            Schildkrötenart,
                            die Nominatform der Europäischen Sumpfschildkröte (Emys orbicularis orbicularis).</p>
                        <a href="https://de.wikipedia.org/wiki/Schildkr%C3%B6ten#Verbreitung" target="_blank">Quelle:
                            Wikipedia</a>
                    </div>


                </article>
            </div>
        </div>
    </div>
</div>