<div class="container is-center has-text-centered" style="background-image:url('images/watercolor1.png'); background-size: 100%;">
    <h1 class="title">Haustiere</h1>
    <h4 class="subtitle">
        Die besten <strong>Freunde</strong> des Menschen.
    </h4>

    <div class="card is-center has-text-centered is-inline-block"
         style="width: 100%; max-width: 500px; padding: 20px; margin: 20px">
        <div class="card-image">
            <figure class="image is-4by3">
                <img alt="Bild von Haustieren" src="images/haustiere.png">
            </figure>
            <p>
                Wir lieben Tiere.<br>
                Jeder von uns hat oder hatte Haustiere.<br>
                Bitte folge den Links, um diese Tiere kennenzulernen.
            </p>
        </div>
    </div>
    <div class="card is-center has-text-centered is-inline-block" style="width: 100%; max-width: 500px; padding: 20px;">
        <div class="card-image">
            <figure class="image is-4by3">
                <img alt="Bild von Schildkroete" src="images/Junior1.png" style="width: 100%; max-width: 500px;">
            </figure>
            <p>
                Anja: <a href="#anja">Kater Findus</a><br>
                Elias: <a href="#elias">Schildkroete Speedy</a><br>
                Philipp: <a href="#philipp">Hund Kymani</a>
            </p>
        </div>
    </div>
</div>