<div class="content is-center has-text-centered has-background-success-light"
     style="background-image:url('images/watercolor.png');">

    Philipp<br>
    <h1 class="title has-text-link">Kymani</h1>
    <h4 class="subtitle has-text-grey-dark">
        Der tollste Hund der Welt
    </h4>

    <figure class="image is-center is-inline-block is-fullwidth" style="max-width: 250px">
        <img alt="Bild von einem wundervollen Hund mit Schlafzimmerblick" class="is-rounded" src="images/kymani1.jpg">
    </figure>

    <br>
    <div class="card is-center has-text-centered is-inline-block is-fullwidth has-background-primary has-text-white"
         style="padding: 20px; margin: 20px;">
        <h4 class="title has-text-white">Lieblingsessen</h4>
        <ol>
            <li>Käse</li>
            <li>Wurst</li>
            <li>Schweineohren</li>
            <li>Diverse Körperteile von Tieren</li>
            <li>Geflügel</li>
        </ol>
    </div>

    <div class="card is-center has-text-centered is-inline-block is-fullwidth has-background-info has-text-white"
         style="padding: 20px; margin: 20px;">
        <h4 class="title">Eigenschaften</h4>
        <div class="tags">
            <span class="tag">Lieb</span>
            <span class="tag">Verkuschelt</span>
            <span class="tag">Verträumt</span>
            <span class="tag">Spürnase</span>
            <span class="tag">Hungrig</span>
            <span class="tag">Verspielt</span>
            <span class="tag">Teuer</span>
            <span class="tag">Schnarchnase</span>
            <span class="tag">Energiegeladen</span>
            <span class="tag">Lustig</span>
            <span class="tag">Nervig</span>
            <span class="tag">Niedlich</span>
        </div>
    </div>
</div>